body {
    margin: 0;
    font-family: 'Red Rose', sans-serif;
    /* margin-bottom: 20px; */
}

.header {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../images/backgrount-img.png') no-repeat center center/cover;
}

.header-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%);
}

.header-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-bar {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-44%, -33%);
    text-align: left;
    color: #fff;
}

.menu {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(200%, 0);
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-left: 20px;
    white-space: nowrap;  /* Prevent text from wrapping */
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.main-body {
    padding: 20px;
}

.hashtags {
    margin: 20px 0;
}

.hashtags button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    background: none;
    cursor: pointer;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.images img {
    width: 100%;
    border-radius: 30px;
}
