@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
body {
    margin: 0;
    font-family: 'Red Rose', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../images/backgrount-img.png') no-repeat center center/cover;
}

.headerBackground {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%);
}

.headerContent {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.menuBar {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuBar svg{
  display: none;
}

.logo {
  font-size: 40px;
  color: white;
}

.menu {
  display: flex;
}

.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  margin-left: 20px;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
  
.profilePic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.searchBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.quote {
  font-size: 2rem;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 800px;
  position: relative;
}

.searchInput {
  flex: 1;
  padding: 22px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.searchInput::placeholder{
  margin-left: 80px;
}

.searchIcon {
  position: absolute;
  left: 4px;
  color: gray;
}

.dropdown {
  position: relative;
}

.dropdownButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 22px;
  border-radius: 0 10px 10px 0;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  list-style: none;
  padding: 10px 0;
  display: none;
}

.dropdownMenu.show {
  display: block;
}

.dropdownItem {
  cursor: pointer;
  color: black;
  margin: 0;
  padding: 0px 8px;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

.quote {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 58.51px;
  text-align: center;
  padding: 20px;
  margin: 0 12px;
}

.quote h2 {
  font-size: 48px;
}

.profileDropdownContainer {
  position: relative;
  display: inline-block; 
}  

.hamburger{
  display: none;
}

@media (max-width: 480px) {
  .header{
    width: auto;
    height: auto;
  }
  .headerBackground{
    height: 200px;
  }
  .menuBar{
    padding: 2px;
  }
  .menuBar h1{
    font-size: 16px;
  }
  .hamburger{
    display: block;
  }
  .hamburgerMenu{
    position: absolute; 
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
  }
  .hamburgerMenu a{
    padding: 0;
    margin: 0;
    font-size: 12px;
    padding: 0px 2px;
  }
  .logo{
    font-size: 16px;
  }
  .dropdownButton{
    display: none;
  }
  .dropdownMenu{
    display: none;
  }
  .quote h2{
    font-size: 12px;
  }
  .menu{
    display: none;
  }
  .menuBar svg{
    display: block;
  }
  
  .searchContainer {
    width: 100px;
  }
  .searchInput {
    flex: 1;
    padding: 2px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  .searchInput::placeholder{
    margin-left: 0px;
  }
  .searchIcon {
    position: absolute;
    left: 4px;
    color: gray;
  }
  .dropdown {
    position: relative;
  }
  .searchInput::placeholder{
    margin-left: 0px;
    font-size: 8px;
  }
  .searchBar input {
    padding: 0px 2px;
    margin-left: 12px;
  }
  .searchIcon{
    font-size: 10px;
  }
}