/* Profile_Header.module.css */

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuBar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    pointer-events: none;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding-left: 30px; /* Adjust padding for search icon */
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    border: none;
    min-height: 40px; /* Adjust to look like a textarea */
  }
  
  .searchButton {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }
  