@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
body{
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Red Rose", serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
}

.header {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image-card {
  position: relative;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.profile-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
